
<div id="result"></div>
<div id="validform">
    <div class="col-sm-3">
        <h4>Dirección</h4>

        <p>Calle Vargas con Calle Santa Clara, Edificio TeleSUR.<br>
            Urbanización Boleíta Norte.<br>
            Caracas - Venezuela</p>

        <h4>Contacto</h4>
        <p>Helga Malave hmalave@telesurtv.net</p>

        <p>(58) (212) 600.02.02</p>
    </div>





    <div class="col-sm-9">
        <div class="cont">
            <h2 style="margin-left:10px">Contáctanos por internet </h2>
            <div class='centrar errorInfo' id="errorInf" style="display: none;"><b>Alerta!</b><span id="error"></span></div>
            <form id="form" method="post" action="/pages/contacto.html#coment">
                <div class="col-sm-6">
                    <input type="hidden" name="testing" value="" id="x" />

                    <div class="cont form-group">
                        <h5>Nombre</h5>
                        <input class="form-control" placeholder="Escriba su nombre..." id="nombre" name="nombre" type="text" maxlength="150"  required="true" />
                    </div>
                </div>

                <div class="col-sm-6 form-group">
                    <h5>Correo</h5>
                    <input class="form-control" type="email" placeholder="Escriba su correo..." id="correo" name="correo" maxlength="150" required="true" />
                </div>
                <div class="col-sm-6">
                    <div class="cont form-group">
                        <h5>País</h5>
                        <select  class="form-control" class="selreg" id="select" name="pais" style="margin-bottom:0;margin-top:20px">

                            <option class="opt" value="">Seleccione</option>



                            <option class="opt" value="Afganistán" title="Afganistán"> Afganistán</option>





                            <option class="opt" value="Akrotiri" title="Akrotiri"> Akrotiri</option>





                            <option class="opt" value="Albania" title="Albania"> Albania</option>





                            <option class="opt" value="Alemania" title="Alemania"> Alemania</option>





                            <option class="opt" value="Andorra" title="Andorra"> Andorra</option>





                            <option class="opt" value="Angola" title="Angola"> Angola</option>





                            <option class="opt" value="Anguila" title="Anguila"> Anguila</option>





                            <option class="opt" value="Antártida" title="Antártida"> Antártida</option>





                            <option class="opt" value="Antigua y Barbuda " title="Antigua y Barbuda "> Antigua y Barbuda </option>





                            <option class="opt" value="Antillas Neerlandesas " title="Antillas Neerlandesas "> Antillas Neerlandesas </option>





                            <option class="opt" value="Arabia Saudí " title="Arabia Saudí "> Arabia Saudí </option>





                            <option class="opt" value="Arctic Ocean " title="Arctic Ocean "> Arctic Ocean </option>





                            <option class="opt" value="Argelia" title="Argelia"> Argelia</option>





                            <option class="opt" value="Argentina" title="Argentina"> Argentina</option>





                            <option class="opt" value="Armenia" title="Armenia"> Armenia</option>





                            <option class="opt" value="Aruba" title="Aruba"> Aruba</option>





                            <option class="opt" value="Ashmore andCartier Islands " title="Ashmore andCartier Islands "> Ashmore andCartier Islands </option>





                            <option class="opt" value="Atlantic Ocean " title="Atlantic Ocean "> Atlantic Ocean </option>





                            <option class="opt" value="Australia" title="Australia"> Australia</option>





                            <option class="opt" value="Austria" title="Austria"> Austria</option>





                            <option class="opt" value="Azerbaiyán" title="Azerbaiyán"> Azerbaiyán</option>





                            <option class="opt" value="Bahamas" title="Bahamas"> Bahamas</option>





                            <option class="opt" value="Bahráin" title="Bahráin"> Bahráin</option>





                            <option class="opt" value="Bangladesh" title="Bangladesh"> Bangladesh</option>





                            <option class="opt" value="Barbados" title="Barbados"> Barbados</option>





                            <option class="opt" value="Bélgica" title="Bélgica"> Bélgica</option>





                            <option class="opt" value="Belice" title="Belice"> Belice</option>





                            <option class="opt" value="Benín" title="Benín"> Benín</option>





                            <option class="opt" value="Bermudas" title="Bermudas"> Bermudas</option>





                            <option class="opt" value="Bielorrusia" title="Bielorrusia"> Bielorrusia</option>





                            <option class="opt" value="Birmania Myanmar " title="Birmania Myanmar "> Birmania Myanmar </option>





                            <option class="opt" value="Bolivia" title="Bolivia"> Bolivia</option>





                            <option class="opt" value="Bosnia y Hercegovina " title="Bosnia y Hercegovina "> Bosnia y Hercegovina </option>





                            <option class="opt" value="Botsuana" title="Botsuana"> Botsuana</option>





                            <option class="opt" value="Brasil" title="Brasil"> Brasil</option>





                            <option class="opt" value="Brunéi" title="Brunéi"> Brunéi</option>





                            <option class="opt" value="Bulgaria" title="Bulgaria"> Bulgaria</option>





                            <option class="opt" value="Burkina Faso " title="Burkina Faso "> Burkina Faso </option>





                            <option class="opt" value="Burundi" title="Burundi"> Burundi</option>





                            <option class="opt" value="Bután" title="Bután"> Bután</option>





                            <option class="opt" value="Cabo Verde " title="Cabo Verde "> Cabo Verde </option>





                            <option class="opt" value="Camboya" title="Camboya"> Camboya</option>





                            <option class="opt" value="Camerún" title="Camerún"> Camerún</option>





                            <option class="opt" value="Canadá" title="Canadá"> Canadá</option>





                            <option class="opt" value="Chad" title="Chad"> Chad</option>





                            <option class="opt" value="Chile" title="Chile"> Chile</option>





                            <option class="opt" value="China" title="China"> China</option>





                            <option class="opt" value="Chipre" title="Chipre"> Chipre</option>





                            <option class="opt" value="Clipperton Island " title="Clipperton Island "> Clipperton Island </option>





                            <option class="opt" value="Colombia" title="Colombia"> Colombia</option>





                            <option class="opt" value="Comoras" title="Comoras"> Comoras</option>





                            <option class="opt" value="Congo" title="Congo"> Congo</option>





                            <option class="opt" value="Coral Sea Islands " title="Coral Sea Islands "> Coral Sea Islands </option>





                            <option class="opt" value="Corea del Norte " title="Corea del Norte "> Corea del Norte </option>





                            <option class="opt" value="Corea del Sur " title="Corea del Sur "> Corea del Sur </option>





                            <option class="opt" value="Costa Rica " title="Costa Rica "> Costa Rica </option>





                            <option class="opt" value="Costa de Marfil " title="Costa de Marfil "> Costa de Marfil </option>





                            <option class="opt" value="Croacia" title="Croacia"> Croacia</option>





                            <option class="opt" value="Cuba" title="Cuba"> Cuba</option>





                            <option class="opt" value="Dhekelia" title="Dhekelia"> Dhekelia</option>





                            <option class="opt" value="Dinamarca" title="Dinamarca"> Dinamarca</option>





                            <option class="opt" value="Dominica" title="Dominica"> Dominica</option>





                            <option class="opt" value="Ecuador" title="Ecuador"> Ecuador</option>





                            <option class="opt" value="Egipto" title="Egipto"> Egipto</option>





                            <option class="opt" value="El Salvador " title="El Salvador "> El Salvador </option>





                            <option class="opt" value="El Vaticano " title="El Vaticano "> El Vaticano </option>





                            <option class="opt" value="Emiratos Árabes Unidos " title="Emiratos Árabes Unidos "> Emiratos Árabes Unidos </option>





                            <option class="opt" value="Eritrea" title="Eritrea"> Eritrea</option>





                            <option class="opt" value="Eslovaquia" title="Eslovaquia"> Eslovaquia</option>





                            <option class="opt" value="Eslovenia" title="Eslovenia"> Eslovenia</option>





                            <option class="opt" value="España" title="España"> España</option>





                            <option class="opt" value="Estados Unidos " title="Estados Unidos "> Estados Unidos </option>





                            <option class="opt" value="Estonia" title="Estonia"> Estonia</option>





                            <option class="opt" value="Etiopía" title="Etiopía"> Etiopía</option>





                            <option class="opt" value="Filipinas" title="Filipinas"> Filipinas</option>





                            <option class="opt" value="Finlandia" title="Finlandia"> Finlandia</option>





                            <option class="opt" value="Fiyi" title="Fiyi"> Fiyi</option>





                            <option class="opt" value="Francia" title="Francia"> Francia</option>





                            <option class="opt" value="Gabón" title="Gabón"> Gabón</option>





                            <option class="opt" value="Gambia" title="Gambia"> Gambia</option>





                            <option class="opt" value="Gaza Strip " title="Gaza Strip "> Gaza Strip </option>





                            <option class="opt" value="Georgia" title="Georgia"> Georgia</option>





                            <option class="opt" value="Ghana" title="Ghana"> Ghana</option>





                            <option class="opt" value="Gibraltar" title="Gibraltar"> Gibraltar</option>





                            <option class="opt" value="Granada" title="Granada"> Granada</option>





                            <option class="opt" value="Grecia" title="Grecia"> Grecia</option>





                            <option class="opt" value="Groenlandia" title="Groenlandia"> Groenlandia</option>





                            <option class="opt" value="Guam" title="Guam"> Guam</option>





                            <option class="opt" value="Guatemala" title="Guatemala"> Guatemala</option>





                            <option class="opt" value="Guernsey" title="Guernsey"> Guernsey</option>





                            <option class="opt" value="Guinea" title="Guinea"> Guinea</option>





                            <option class="opt" value="Guinea-Bissau " title="Guinea-Bissau "> Guinea-Bissau </option>





                            <option class="opt" value="Guinea Ecuatorial " title="Guinea Ecuatorial "> Guinea Ecuatorial </option>





                            <option class="opt" value="Guyana" title="Guyana"> Guyana</option>





                            <option class="opt" value="Haití" title="Haití"> Haití</option>





                            <option class="opt" value="Honduras" title="Honduras"> Honduras</option>





                            <option class="opt" value="Hong Kong " title="Hong Kong "> Hong Kong </option>





                            <option class="opt" value="Hungría" title="Hungría"> Hungría</option>





                            <option class="opt" value="India" title="India"> India</option>





                            <option class="opt" value="Indian Ocean " title="Indian Ocean "> Indian Ocean </option>





                            <option class="opt" value="Indonesia" title="Indonesia"> Indonesia</option>





                            <option class="opt" value="Irán" title="Irán"> Irán</option>





                            <option class="opt" value="Iraq" title="Iraq"> Iraq</option>





                            <option class="opt" value="Irlanda" title="Irlanda"> Irlanda</option>





                            <option class="opt" value="Isla Bouvet " title="Isla Bouvet "> Isla Bouvet </option>





                            <option class="opt" value="Isla Christmas " title="Isla Christmas "> Isla Christmas </option>





                            <option class="opt" value="Isla Norfolk " title="Isla Norfolk "> Isla Norfolk </option>





                            <option class="opt" value="Islandia" title="Islandia"> Islandia</option>





                            <option class="opt" value="Islas Caimán " title="Islas Caimán "> Islas Caimán </option>





                            <option class="opt" value="Islas Cocos " title="Islas Cocos "> Islas Cocos </option>





                            <option class="opt" value="Islas Cook " title="Islas Cook "> Islas Cook </option>





                            <option class="opt" value="Islas Feroe " title="Islas Feroe "> Islas Feroe </option>





                            <option class="opt" value="Islas Georgia del Sur y Sandwich del Sur " title="Islas Georgia del Sur y Sandwich del Sur "> Islas Georgia del Sur y Sandwich del Sur </option>





                            <option class="opt" value="Islas Heard y McDonald " title="Islas Heard y McDonald "> Islas Heard y McDonald </option>





                            <option class="opt" value="Islas Malvinas " title="Islas Malvinas "> Islas Malvinas </option>





                            <option class="opt" value="Islas Marianas del Norte " title="Islas Marianas del Norte "> Islas Marianas del Norte </option>





                            <option class="opt" value="IslasMarshall" title="IslasMarshall"> IslasMarshall</option>





                            <option class="opt" value="Islas Pitcairn " title="Islas Pitcairn "> Islas Pitcairn </option>





                            <option class="opt" value="Islas Salomón " title="Islas Salomón "> Islas Salomón </option>





                            <option class="opt" value="Islas Turcas y Caicos " title="Islas Turcas y Caicos "> Islas Turcas y Caicos </option>





                            <option class="opt" value="Islas Vírgenes Británicas " title="Islas Vírgenes Británicas "> Islas Vírgenes Británicas </option>





                            <option class="opt" value="Israel" title="Israel"> Israel</option>





                            <option class="opt" value="Italia" title="Italia"> Italia</option>





                            <option class="opt" value="Jamaica" title="Jamaica"> Jamaica</option>





                            <option class="opt" value="Jan Mayen " title="Jan Mayen "> Jan Mayen </option>





                            <option class="opt" value="Japón" title="Japón"> Japón</option>





                            <option class="opt" value="Jersey" title="Jersey"> Jersey</option>





                            <option class="opt" value="Jordania" title="Jordania"> Jordania</option>





                            <option class="opt" value="Kazajistán" title="Kazajistán"> Kazajistán</option>





                            <option class="opt" value="Kenia" title="Kenia"> Kenia</option>





                            <option class="opt" value="Kirguizistán" title="Kirguizistán"> Kirguizistán</option>





                            <option class="opt" value="Kiribati" title="Kiribati"> Kiribati</option>





                            <option class="opt" value="Kuwait" title="Kuwait"> Kuwait</option>





                            <option class="opt" value="Laos" title="Laos"> Laos</option>





                            <option class="opt" value="Lesoto" title="Lesoto"> Lesoto</option>





                            <option class="opt" value="Letonia" title="Letonia"> Letonia</option>





                            <option class="opt" value="Líbano" title="Líbano"> Líbano</option>





                            <option class="opt" value="Liberia" title="Liberia"> Liberia</option>





                            <option class="opt" value="Libia" title="Libia"> Libia</option>





                            <option class="opt" value="Liechtenstein" title="Liechtenstein"> Liechtenstein</option>





                            <option class="opt" value="Lituania" title="Lituania"> Lituania</option>





                            <option class="opt" value="Luxemburgo" title="Luxemburgo"> Luxemburgo</option>





                            <option class="opt" value="Macao" title="Macao"> Macao</option>





                            <option class="opt" value="Madagascar" title="Madagascar"> Madagascar</option>





                            <option class="opt" value="Malasia" title="Malasia"> Malasia</option>





                            <option class="opt" value="Malaui" title="Malaui"> Malaui</option>





                            <option class="opt" value="Maldivas" title="Maldivas"> Maldivas</option>





                            <option class="opt" value="Malí" title="Malí"> Malí</option>





                            <option class="opt" value="Malta" title="Malta"> Malta</option>





                            <option class="opt" value="Man, Isle of " title="Man, Isle of "> Man, Isle of </option>





                            <option class="opt" value="Marruecos" title="Marruecos"> Marruecos</option>





                            <option class="opt" value="Mauricio" title="Mauricio"> Mauricio</option>





                            <option class="opt" value="Mauritania" title="Mauritania"> Mauritania</option>





                            <option class="opt" value="Mayotte" title="Mayotte"> Mayotte</option>





                            <option class="opt" value="México" title="México"> México</option>





                            <option class="opt" value="Micronesia" title="Micronesia"> Micronesia</option>





                            <option class="opt" value="Moldavia" title="Moldavia"> Moldavia</option>





                            <option class="opt" value="Mónaco" title="Mónaco"> Mónaco</option>





                            <option class="opt" value="Mongolia" title="Mongolia"> Mongolia</option>





                            <option class="opt" value="Montserrat" title="Montserrat"> Montserrat</option>





                            <option class="opt" value="Mozambique" title="Mozambique"> Mozambique</option>





                            <option class="opt" value="Namibia" title="Namibia"> Namibia</option>





                            <option class="opt" value="Nauru" title="Nauru"> Nauru</option>





                            <option class="opt" value="Navassa Island " title="Navassa Island "> Navassa Island </option>





                            <option class="opt" value="Nepal" title="Nepal"> Nepal</option>





                            <option class="opt" value="Nicaragua" title="Nicaragua"> Nicaragua</option>





                            <option class="opt" value="Níger" title="Níger"> Níger</option>





                            <option class="opt" value="Nigeria" title="Nigeria"> Nigeria</option>





                            <option class="opt" value="Niue" title="Niue"> Niue</option>





                            <option class="opt" value="Noruega" title="Noruega"> Noruega</option>





                            <option class="opt" value="Nueva Caledonia " title="Nueva Caledonia "> Nueva Caledonia </option>





                            <option class="opt" value="Nueva Zelanda " title="Nueva Zelanda "> Nueva Zelanda </option>





                            <option class="opt" value="Omán" title="Omán"> Omán</option>





                            <option class="opt" value="Pacific Ocean " title="Pacific Ocean "> Pacific Ocean </option>





                            <option class="opt" value="Países Bajos " title="Países Bajos "> Países Bajos </option>





                            <option class="opt" value="Pakistán" title="Pakistán"> Pakistán</option>





                            <option class="opt" value="Palaos" title="Palaos"> Palaos</option>





                            <option class="opt" value="Panamá" title="Panamá"> Panamá</option>





                            <option class="opt" value="Papúa-Nueva Guinea " title="Papúa-Nueva Guinea "> Papúa-Nueva Guinea </option>





                            <option class="opt" value="Paracel Islands " title="Paracel Islands "> Paracel Islands </option>





                            <option class="opt" value="Paraguay" title="Paraguay"> Paraguay</option>





                            <option class="opt" value="Perú" title="Perú"> Perú</option>





                            <option class="opt" value="Polinesia Francesa " title="Polinesia Francesa "> Polinesia Francesa </option>





                            <option class="opt" value="Polonia" title="Polonia"> Polonia</option>





                            <option class="opt" value="Portugal" title="Portugal"> Portugal</option>





                            <option class="opt" value="Puerto Rico " title="Puerto Rico "> Puerto Rico </option>





                            <option class="opt" value="Qatar" title="Qatar"> Qatar</option>





                            <option class="opt" value="Reino Unido " title="Reino Unido "> Reino Unido </option>





                            <option class="opt" value="República Centroafricana " title="República Centroafricana "> República Centroafricana </option>





                            <option class="opt" value="República Checa " title="República Checa "> República Checa </option>





                            <option class="opt" value="República Democrática del Congo " title="República Democrática del Congo "> República Democrática del Congo </option>





                            <option class="opt" value="República Dominicana " title="República Dominicana "> República Dominicana </option>





                            <option class="opt" value="Ruanda" title="Ruanda"> Ruanda</option>





                            <option class="opt" value="Rumania" title="Rumania"> Rumania</option>





                            <option class="opt" value="Rusia" title="Rusia"> Rusia</option>





                            <option class="opt" value="Sáhara Occidental " title="Sáhara Occidental "> Sáhara Occidental </option>





                            <option class="opt" value="Samoa" title="Samoa"> Samoa</option>





                            <option class="opt" value="Samoa Americana " title="Samoa Americana "> Samoa Americana </option>





                            <option class="opt" value="San Cristóbal y Nieves " title="San Cristóbal y Nieves "> San Cristóbal y Nieves </option>





                            <option class="opt" value="San Marino " title="San Marino "> San Marino </option>





                            <option class="opt" value="San Pedro y Miquelón " title="San Pedro y Miquelón "> San Pedro y Miquelón </option>





                            <option class="opt" value="San Vicente y las Granadinas " title="San Vicente y las Granadinas "> San Vicente y las Granadinas </option>





                            <option class="opt" value="Santa Helena " title="Santa Helena "> Santa Helena </option>





                            <option class="opt" value="Santa Lucía " title="Santa Lucía "> Santa Lucía </option>





                            <option class="opt" value="Santo Tomé y Príncipe " title="Santo Tomé y Príncipe "> Santo Tomé y Príncipe </option>





                            <option class="opt" value="Senegal" title="Senegal"> Senegal</option>





                            <option class="opt" value="Seychelles" title="Seychelles"> Seychelles</option>





                            <option class="opt" value="Sierra Leona " title="Sierra Leona "> Sierra Leona </option>





                            <option class="opt" value="Singapur" title="Singapur"> Singapur</option>





                            <option class="opt" value="Siria" title="Siria"> Siria</option>





                            <option class="opt" value="Somalia" title="Somalia"> Somalia</option>





                            <option class="opt" value="Southern Ocean " title="Southern Ocean "> Southern Ocean </option>





                            <option class="opt" value="Spratly Islands " title="Spratly Islands "> Spratly Islands </option>





                            <option class="opt" value="Sri Lanka " title="Sri Lanka "> Sri Lanka </option>





                            <option class="opt" value="Suazilandia" title="Suazilandia"> Suazilandia</option>





                            <option class="opt" value="Sudáfrica" title="Sudáfrica"> Sudáfrica</option>





                            <option class="opt" value="Sudán" title="Sudán"> Sudán</option>





                            <option class="opt" value="Suecia" title="Suecia"> Suecia</option>





                            <option class="opt" value="Suiza" title="Suiza"> Suiza</option>





                            <option class="opt" value="Surinam" title="Surinam"> Surinam</option>





                            <option class="opt" value="Svalbard y Jan Mayen " title="Svalbard y Jan Mayen "> Svalbard y Jan Mayen </option>





                            <option class="opt" value="Tailandia" title="Tailandia"> Tailandia</option>





                            <option class="opt" value="Taiwán" title="Taiwán"> Taiwán</option>





                            <option class="opt" value="Tanzania" title="Tanzania"> Tanzania</option>





                            <option class="opt" value="Tayikistán" title="Tayikistán"> Tayikistán</option>





                            <option class="opt" value="TerritorioBritánicodel Océano Indico " title="TerritorioBritánicodel Océano Indico "> TerritorioBritánicodel Océano Indico </option>





                            <option class="opt" value="Territorios Australes Franceses " title="Territorios Australes Franceses "> Territorios Australes Franceses </option>





                            <option class="opt" value="Timor Oriental " title="Timor Oriental "> Timor Oriental </option>





                            <option class="opt" value="Togo" title="Togo"> Togo</option>





                            <option class="opt" value="Tokelau" title="Tokelau"> Tokelau</option>





                            <option class="opt" value="Tonga" title="Tonga"> Tonga</option>





                            <option class="opt" value="Trinidad y Tobago " title="Trinidad y Tobago "> Trinidad y Tobago </option>





                            <option class="opt" value="Túnez" title="Túnez"> Túnez</option>





                            <option class="opt" value="Turkmenistán" title="Turkmenistán"> Turkmenistán</option>





                            <option class="opt" value="Turquía" title="Turquía"> Turquía</option>





                            <option class="opt" value="Tuvalu" title="Tuvalu"> Tuvalu</option>





                            <option class="opt" value="Ucrania" title="Ucrania"> Ucrania</option>





                            <option class="opt" value="Uganda" title="Uganda"> Uganda</option>





                            <option class="opt" value="Unión Europea" title="Unión Europea"> Unión Europea</option>





                            <option class="opt" value="Uruguay" title="Uruguay"> Uruguay</option>





                            <option class="opt" value="Uzbekistán" title="Uzbekistán"> Uzbekistán</option>





                            <option class="opt" value="Vanuatu" title="Vanuatu"> Vanuatu</option>





                            <option class="opt" value="Venezuela" title="Venezuela"> Venezuela</option>





                            <option class="opt" value="Vietnam" title="Vietnam"> Vietnam</option>





                            <option class="opt" value="Wake Island " title="Wake Island "> Wake Island </option>





                            <option class="opt" value="Wallis y Futuna " title="Wallis y Futuna "> Wallis y Futuna </option>





                            <option class="opt" value="West Bank " title="West Bank "> West Bank </option>





                            <option class="opt" value="World" title="World"> World</option>





                            <option class="opt" value="Yemen" title="Yemen"> Yemen</option>





                            <option class="opt" value="Yibuti" title="Yibuti"> Yibuti</option>





                            <option class="opt" value="Zambia" title="Zambia"> Zambia</option>





                            <option class="opt" value="Zimbabue" title="Zimbabue"> Zimbabue</option>





                            <option class="opt" value="Argentina" title="Argentina"> Argentina</option>





                            <option class="opt" value="Brasil" title="Brasil"> Brasil</option>
                            <option class="opt" value="Mexico" title="Mexico"> Mexico</option>
                            <option class="opt" value="Uruguay" title="Uruguay"> Uruguay</option>
                        </select>
                        <!-cms:include page="TS_Contacto_Countries.jsp" /-->
                    </div>
                </div>
                <div class="col-sm-6" id="rest">
                    <div class="g-recaptcha" data-sitekey="6Lc4XhETAAAAAG9nIq-sHY0DsagC8py_zNDoW4xr"></div>
                    <input placeholder="Escriba su nombre..." class="correoContacto"id="correoContacto" name="asunto" type="text" maxlength="150" />
                </div>
                <div class="col-mquea form-group">

                    <h5>Mensaje</h5>
                    <textarea class="form-control" name="mensaje" maxlength="250" id="mensajeContacto" required="true"></textarea>
                </div>

                <input type="hidden" name="send" value="0" />
                <div class="btnForm clear">
                    <input class="enviar env" type="submit" value="Enviar" id="click">
                    <a class="btn cancelar" href="#">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

</div>