<div class="domain-container explore-domain">
  <div class="news-container">
    <div class="news-header">
      <div class="metadata-container">
        <div class="category-container">

          <span><a href="">Noticias > América Latina > Política</a></span>
        </div>
        <div class="date-author-container"> Publicado por: Autor del Artículo - 14 de junio de 2016, a las 11:45am</div>
      </div>

      <div class="image-container">
        <img class="img-responsive" src="http://placehold.it/934x314" alt="">
        <!--<div class="menu-container  text-right" ng-click="menuFocusNews = !menuFocusNews">-->
          <!--<span class="glyphicon glyphicon-option-horizontal"></span>-->
          <!--<ul  ng-init="menuFocusNews = false"  ng-show="menuFocusNews">-->
            <!--<li>menu-element</li>-->
            <!--<li>menu-element</li>-->
          <!--</ul>-->
        <!--</div>-->
      </div>
      <div class="title-container">
        <div class="subtitle">
          Nulla sem ligula nisi varius varius porttitor in ligula sit.
        </div>
        <div class="title">
          nunc nisl dapibus dolor id turpis ac habitasse
        </div>
      </div>
    </div>

    <div class="news-content">
      <div class="visualizations pull-right">3183 visualizaciones</div>
      <div class="clearfix"></div>
      <div class="content">
        <p>
          ac vehicula morbi vitae quis ac vel eu feugiat in elementum ac et velit luctus ullamcorper purus sed nunc varius fusce dignissim vel nisl sit tellus ipsum in mattis nulla vitae in arcu eu nam ullamcorper semper ut sit nisl ipsum fusce morbi amet a in lobortis id erat mattis pretium in quisque nulla quis in posuere curabitur curabitur lorem vel accumsan erat augue in molestie velit nunc vestibulum iaculis pharetra nibh congue ipsum porttitor vehicula primis ipsum augue rutrum
        </p>
        <a ng-href="{{getNewsLink(onFocusNews.id)}}">
          Continuar leyendo...
        </a>
      </div>
    </div>
  </div>
  <div style="display: none" class="news-container">
    <div class="news-header">
      <div class="metadata-container">
        <div class="category-container">Noticias > América Latina > Política </div>
        <div class="date-author-container"> Publicado por: Autor del Artículo - 14 de junio de 2016, a las 11:45am</div>
      </div>

      <div class="image-container">
        <img src="http://placehold.it/934x314" alt="">
        <div class="menu-container  text-right" ng-click="menuFocusNews = !menuFocusNews">
          <span class="glyphicon glyphicon-option-horizontal"></span>
          <ul  ng-init="menuFocusNews = false"  ng-show="menuFocusNews">
            <li>menu-element</li>
            <li>menu-element</li>
          </ul>
        </div>
      </div>
      <div class="title-container">
        <div class="subtitle">
          Nulla sem ligula nisi varius varius porttitor in ligula sit.
        </div>
        <div class="title">
          nunc nisl dapibus dolor id turpis ac habitasse
        </div>
      </div>
    </div>

    <div class="news-content">
      <div class="visualizations pull-right">3183 visualizaciones</div>
      <div class="clearfix"></div>
      <div class="content">
        <p>
          ac vehicula morbi vitae quis ac vel eu feugiat in elementum ac et velit luctus ullamcorper purus sed nunc varius fusce dignissim vel nisl sit tellus ipsum in mattis nulla vitae in arcu eu nam ullamcorper semper ut sit nisl ipsum fusce morbi amet a in lobortis id erat mattis pretium in quisque nulla quis in posuere curabitur curabitur lorem vel accumsan erat augue in molestie velit nunc vestibulum iaculis pharetra nibh congue ipsum porttitor vehicula primis ipsum augue rutrum
        </p>
        <a href="news.php">
          Continuar leyendo...
        </a>
      </div>
    </div>
  </div>
  <div style="display: none" class="news-container">
    <div class="news-header">
      <div class="metadata-container">
        <div class="category-container">Noticias > América Latina > Política </div>
        <div class="date-author-container"> Publicado por: Autor del Artículo - 14 de junio de 2016, a las 11:45am</div>
      </div>

      <div class="image-container">
        <img src="http://placehold.it/934x314" alt="">
        <div class="menu-container  text-right" ng-click="menuFocusNews = !menuFocusNews">
          <span class="glyphicon glyphicon-option-horizontal"></span>
          <ul  ng-init="menuFocusNews = false"  ng-show="menuFocusNews">
            <li>menu-element</li>
            <li>menu-element</li>
          </ul>
        </div>
      </div>
      <div class="title-container">
        <div class="subtitle">
          Nulla sem ligula nisi varius varius porttitor in ligula sit.
        </div>
        <div class="title">
          nunc nisl dapibus dolor id turpis ac habitasse
        </div>
      </div>
    </div>

    <div class="news-content">
      <div class="visualizations pull-right">3183 visualizaciones</div>
      <div class="clearfix"></div>
      <div class="content">
        <p>
          ac vehicula morbi vitae quis ac vel eu feugiat in elementum ac et velit luctus ullamcorper purus sed nunc varius fusce dignissim vel nisl sit tellus ipsum in mattis nulla vitae in arcu eu nam ullamcorper semper ut sit nisl ipsum fusce morbi amet a in lobortis id erat mattis pretium in quisque nulla quis in posuere curabitur curabitur lorem vel accumsan erat augue in molestie velit nunc vestibulum iaculis pharetra nibh congue ipsum porttitor vehicula primis ipsum augue rutrum
        </p>
        <a ng-href="{{getNewsLink(onFocusNews.id)}}">
          Continuar leyendo...
        </a>
      </div>
    </div>
  </div>

  <div class="news-sidebar">
    <div class="news-selector">
      <ul>
        <li class="active">
          <a>Lorem ipsum dolor</a>
        </li>
        <li>
          <a>Lorem ipsum dolor</a>
        </li>
        <li>
          <a>Lorem ipsum dolor</a>
        </li>
        <li>
          <a>Lorem ipsum dolor</a>
        </li>
        <li>
          <a>Lorem ipsum dolor</a>
        </li>
        <li>
          <a>Lorem ipsum dolor</a>
        </li>
      </ul>
    </div>
    <div class="news-advertisement">
      <img class="img-responsive" src="http://placehold.it/320x105?text=Publicidad-320x105" alt="">
    </div>
  </div>
  <div class="clearfix"></div>
</div>
