<div class="live-signal-container">

  <div class="selector-container text-center">
    <ul class="text-right">
      <li class="active"><a href="">Señal principal en vivo</a></li>
      <li><a href="">Señal en vivo (Audio)</a></li>
      <li><a href="">Señal en inglés</a></li>
      <li><a href="">Exclusivos web</a></li>
      <li><a href="">Programación especial</a></li>
    </ul>

    <p>Tambien puede ver nuestra señal en vivo, las 24 horas, en:</p>
    <img src="http://placehold.it/70x32" alt="">
    <p>youtube.com/telesurtv</p>
  </div>
  <div class="video-container">
    <img src="http://placehold.it/335x250" alt="">
  </div>
  <div class="advertisement">
    <img src="http://placehold.it/300x250" alt="">
  </div>
  <div class="clearfix"></div>

</div>
<div class="clearfix"></div>
