<div class="domain-container mitelesur-domain container">
  <div class="inner-container">
    <div class="mitelesur-section text-center">
      <div class="title"> Mi teleSUR</div>
      <img src="http://placehold.it/75x75" alt="" class="img-circle">
      <p>Debe iniciar la sesión de teleSUR para poder guardar sus cambios</p>
    </div>
    <div class="preferences-section">
      <div class="title">Preferencias Generales</div>

      <form action="">
        <div class="checkbox">
          <label><input type="checkbox"> Especificar mi localización</label>
        </div>

        <div class="form-group">
          <input id="localizacion" type="text" class="disabled" disabled>
          <label for="localizacion" class="disabled"> Si no suministra una localizacion personalizada, teleSUR utilizará los servicios disponibles para tratar de encontrar su localizacion actual</label>
        </div>
      </form>
    </div>
    <div class="customize-section">
      <div class="title">Personalizar mi contenido</div>
      <ul class="col-xs-6" style="padding-right: 10px">
        <li><label><input type="checkbox">Últimas noticias</label></li>
        <li><label><input type="checkbox">En destaque</label></li>
        <li><label><input type="checkbox">América Latina</label></li>
        <li><label><input type="checkbox">Mundo</label></li>
        <li><label><input type="checkbox">Economía</label></li>
      </ul>
      <ul class="col-xs-6">
        <li><label><input type="checkbox">Deportes</label></li>
        <li><label><input type="checkbox">Cultura</label></li>
        <li><label><input type="checkbox">Opinión</label></li>
        <li><label><input type="checkbox">Voces</label></li>
        <li><label><input type="checkbox">Soy reportero</label></li>
      </ul>
    </div>
    <div class="info-section">
      <p>Active o desactive las secciones de la lista que le interesan </br>
      Puede re-ordenar las secciones para que aparezcan en el orden que prefiera. Para ello, seleccione y arrastre
        cada sección para la posición deseada, utilizando el área gris delineada a la izquierda de cada sección.</p>
      <p>No olvide guardar sus cambios cuando haya terminado de personalizar su teleSUR</p>
      <a href="" class="footer text-center">Guardar mis cambios</a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
