<div id= "header-parrilla" class="cont">
    <div class="blueback">Ahora, en <img style="width:78px;" src="http://devindigo.telesurtv.net/arte/grilla/logo-footer.png" width="78" height="17" alt=""></div>

    <div class="titleblue">
        <a href="#" class="her">Dossier</a>
    </div>
    <div class="autshow">
        <a href="#" class="her"></a>
    </div>

    <div class="bluedate">13:00 - 14:00</div>

    <div class="blueback">Pr&oacute;ximamente</div>

    <div class="titleblue">
        <a href="#" class="her">Zona Verde</a>
    </div>

    <div class="autshow">
        <a href="#" class="her"></a>
    </div>

    <div class="bluedate">14:00 - 14:30</div>

    <div class="titleblue">
        <a href="#" class="her">teleSUR Noticias Lenguaje de Se&ntilde;as</a>
    </div>

    <div class="autshow">
        <a href="#" class="her"></a>
    </div>

    <div class="bluedate">14:30 - 15:00</div>

    <div class="separador2"></div>

    <div class="titleblue">
        <a href="#" class="her">Deportes teleSUR</a>
    </div>
    <div class="autshow">
        <a href="#" class="her"></a>
    </div>
    <div class="bluedate">15:00 - 15:30</div>
    <div class="separador2"></div>

    <div class="titleblue">
        <a href="#" class="her">teleSUR Noticias</a>
    </div>
    <div class="autshow">
        <a href="#" class="her"></a>
    </div>

    <div class="bluedate">15:30 - 16:00</div>
    <div class="separador2"></div>

</div>
