.participe-domain
  background-color: $white
  .participe-section
    background-color: $grey_2
    padding: 15px
    margin-bottom: 10px
    padding-top: 20px
    line-height: 1.2
    color: $grey_6
    p
      margin-bottom: 25px

    img.participe-image
      margin-bottom: 22px
    .title
      font-family: "Bree Serif", serif
      font-size: 24px
      font-weight: 400
      padding-bottom: 10px
      color: $grey_10
      border-bottom: 5px solid $telesur_light_blue
      margin: 0
      margin-bottom: 10px
    .sublink, .footer
      font-family: "Bree Serif", serif
      margin-bottom: 10px
      padding-bottom: 5px
      color: $grey_8
      text-decoration: none
      display: block
      width: 100%
      font-size: 20px
      border-bottom: 2px solid $telesur_light_blue
    .footer
      color: $grey_10
      margin-top: 20px
      margin-bottom: 0
      border-bottom: 2px solid $telesur_red

    .reporter-item, .blog-item
      background-color: $white
      margin-bottom: 5px

    .items-section
      height: 370px
      overflow-y: scroll
    .reporter-item
      position: relative
      &:last-child
        margin-bottom: 0
      .item-title
        height: 100%
        padding: 10px 10px 5px 10px
        a
          font-family: "Bree Serif", serif
          font-weight: 400
          font-size: 15px
          padding-bottom: 10px
          color: $grey_10
      .item-metadata
        position: absolute
        bottom: 10px
        right: 0
        a
          font-size: 12px
          color: $telesur_light_blue
    .blog-item
      width: 100%
      .image-container
      .item-info
        padding: 8px
        font-size: 12px
        position: relative
        height: 75px
        .item-author
          border-bottom: 2px solid $grey_4
          width: 100%
          margin-bottom: 5px
          a
            color: $telesur_light_blue
        .item-title
          a
            font-family: "Bree Serif", serif
            color: $grey_8
        .perfil
          position: absolute
          right: 10px
          bottom: 2px
          font-size: 10px
          color: $telesur_light_blue
